#shifumi {
    display: flex;
}

#shifumi > div {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

#shifumi img {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    transition: 0.2s;
}

#player img:hover {
    border: 1px solid red;
}